.progress-container {
  position: relative;
}

.progress-container .nes-progress-value {
  position: absolute;
  top: 1rem;
  width: 100%;
  text-align: center;
}

.blink {
  animation: blink 1s infinite steps(1);
}
